.common-text-color {
  color: #F53E32;
}

.common-text-align {
  text-align: center;
}

.cell-bottom-line {
  position: relative;
  &::after {
    position: absolute; // 用了绝对定位
    content: ' ';
    pointer-events: none;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #F3F3F3;
    background: #F3F3F3;
  }
  // &:last-child::after {
  //   display: none;
  // }
}
